################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/AoC/FileContentIndex/19428937-e8a0-4d54-8924-dfef6c9e5796.vsidx
